<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Experiment</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="static/ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/ico/favicon-16x16.png">
    <link rel="manifest" href="static/ico/site.webmanifest">

    <script src="jatos.js"></script>

</head>

<body>

  <div class="container">
    <div class="row">
      <h1>Break</h1>
    </div>
    <div class="row">
      <p>Thank you for participating in the experiment so far. Please take a 5 minute break.</p>
    </div>
    <div class="row">
      <h5>Please click continue when you are ready to proceed with the experimental trials.</h5>
    </div>
    <div class="row">
      <button type="button" class="btn btn-primary btn-md" id="advance">
        <span class="glyphicon glyphicon-arrow-right"></span> Continue
      </button>
    </div>
  </div>
</body>

    <script src="components.js"></script>
</html>
