<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Experiment</title>

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="static/ico/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="static/ico/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="static/ico/favicon-16x16.png">
  <link rel="manifest" href="static/ico/site.webmanifest">

</head>

<body>
  <div class="container">
    <h4>You have completed this experiment.</h4>
    <p>If you have any questions or concerns, don't hesitate to contact the research team. If you are a Sona
      participant, your credits should appear within the next few days.</p>
    <div>
      <h5>You may now close this browser. Thank you for participating in our experiment!</h5>
    </div>
  </div>
</body>

</html>
