<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Experiment</title>

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="static/ico/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="static/ico/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="static/ico/favicon-16x16.png">
  <link rel="manifest" href="static/ico/site.webmanifest">

  <script src="jatos.js"></script>

</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <h4>You have completed this experiment.</h4>
        <p>If you have any questions or concerns, don't hesitate to contact the research team. If you are a Sona
          participant, your credits will be granted within 48 hours.</p>
      </div>
    </div>
    <!-- enable this if you can automatically assign credit. -->
    <!-- <div class="row"> -->
    <!--   <div class="col-2"> -->
    <!--     <a class="btn btn-primary" id="end">End Study</a> -->
    <!--   </div> -->
    <!-- </div> -->
  </div>
</body>

<script src="components.js"></script>

</html>
