<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Experiment</title>

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="static/ico/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="static/ico/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="static/ico/favicon-16x16.png">
  <link rel="manifest" href="static/ico/site.webmanifest">

  <script src="jatos.js"></script>

</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Welcome!</h1>
        <h4>We will begin the experiment shortly.</h4>
      </div>
    </div>
    <p>
      If you are <b>NOT</b> on a Chrome browser, please close this window and reopen the link provided in Google
      Chrome. Additionally, please check that your window is zoomed to 100% (if there is a magnifying glass in your
      browser's address bar, click on it and choose 'Reset'). This is required to prevent some technical difficulties.
      Contact the researchers if you have any issues.
    </p>
    <p>
      ***If you advance past this page, you will not be eligible to restart and complete the experiment.***
    </p>
    <hr />
    <h3>Experiment Information</h3>
    <p>
      This experiment will take between 30 and 60 minutes. Please ensure you have adequate time to finish in a quiet
      environment. If you indicate that you are a Sona participant on the next
      page, you will receive 1 credit.
    </p>
    <p>For this experiment, you will need a keyboard with arrow keys and occasionally a mouse.</p>
    <div>
      <button id="surveysubmit" class="btn btn-primary btn-lg" type="submit" onClick="advance();">Continue</button>
    </div>
  </div>

  <script src="components.js"></script>
  <script>
    function advance() {
      jatos.onload(() => {
        jatos.startNextComponent();
      });
    }
  </script>

</body>

</html>