<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Experiment</title>

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="static/ico/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="static/ico/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="static/ico/favicon-16x16.png">
  <link rel="manifest" href="static/ico/site.webmanifest">

  <script src="jatos.js"></script>

</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Welcome!</h1>
        <hr>
        <div class="row">
          <div class="col">
            <h4>The experiment will begin shortly, thank you for participating!</h4>
            <p>
              If you advance past this page, you will not be eligible to restart and complete the experiment.
            </p>
          </div>
          <div class="col">
            <p>
              This purpose of this experiment is to improve the way the people work with smart technology.
              Results from your participation may shape the capabilities of many technologies you work with
              in the future!
            </p>
            <p>
              This experiment will take between 30 and 60 minutes. Please ensure you have adequate time to finish in a
              quiet
              environment. If you indicate that you are a Sona participant on the next
              page, you will receive 1 credit.
            </p>
            <button class="btn btn-primary btn-lg" onClick="advance();">Continue</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="components.js"></script>

</body>

</html>