body, html {
  height: 100%;
  position: relative;
  min-height: 100%;
}

body {
  background: #f1f3f5;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 16px;
  padding: 0;
  margin-bottom: 16px;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, roboto, oxygen, ubuntu, cantarell, fira sans, droid sans, helvetica neue, sans-serif;
  font-weight: 400;
  color: #745fb5;
}

p select {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, roboto, oxygen, ubuntu, cantarell, fira sans, droid sans, helvetica neue, sans-serif;
  font-weight: 400;
  color: #89a;
}

svg {
  height: 100%;
  width: 100%;
}

.movable:hover {
  opacity: 50%;
}

.shape_container {
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-color: #89a;
  margin-bottom: 1em;
  margin-top: 1em;
}

.likert {
  margin-bottom: 0px;
  display: flex;
  align-items: center;
}

.likert li {
  float: left;
  list-style-type: none;
}

.slide-container {
  width: 90%;
  margin: auto;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #745fb5;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #745fb5;
  cursor: pointer;
}

.centered {
  position: absolute;
  font-size: 3em;
  text-align: center;
  color: #f1f3f5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}